In [7]:
import numpy as np
import pandas as pd

In [8]:
# reading csv file
dataset = pd.read_csv(r"C:\Users\Gani\Downloads\vTargetBuyers.csv")

In [9]:
# Binarization
df_gender = pd.get_dummies(dataset["Gender"])
dataset['Gender'] = df_gender.cumsum(axis=1).ne(1).sum(axis=1)

# Converting Binarization
dataset['NumberCarsOwned'] = dataset['NumberCarsOwned'].apply(lambda x: 1 if x>=1 else 0)
dataset['TotalChildren'] = dataset['TotalChildren'].apply(lambda x: 1 if x>=1 else 0)
dataset['NumberChildrenAtHome'] = dataset['NumberChildrenAtHome'].apply(lambda x: 1 if x>=1 else 0)


# One hot Encoding
df_englishEducation = pd.get_dummies(dataset["EnglishEducation"])
dataset['EnglishEducation'] = df_englishEducation.cumsum(axis=1).ne(1).sum(axis=1)
df_englishOccupation = pd.get_dummies(dataset["EnglishOccupation"])
dataset['EnglishOccupation'] = df_englishOccupation.cumsum(axis=1).ne(1).sum(axis=1)
df_commuteDistance = pd.get_dummies(dataset["CommuteDistance"])
dataset['CommuteDistance'] = df_commuteDistance.cumsum(axis=1).ne(1).sum(axis=1)
df_region = pd.get_dummies(dataset["Region"])
dataset['Region'] = df_region.cumsum(axis=1).ne(1).sum(axis=1)

# Normalization
dataset['YearlyIncome'] = (dataset['YearlyIncome'] - dataset['YearlyIncome'].min()) / (dataset['YearlyIncome'].max() - dataset['YearlyIncome'].min())    
dataset['Age'] = (dataset['Age'] - dataset['Age'].min()) / (dataset['Age'].max() - dataset['Age'].min())

In [10]:
dataset.head()

,GeographyKey,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,EnglishOccupation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
0,26,1,0.5000,1,0,0,3,1,0,1,2,0.211268,1
1,37,1,0.3125,1,1,0,3,0,1,0,2,0.225352,1
2,31,1,0.3125,1,1,0,3,1,1,3,2,0.225352,1
3,11,0,0.3750,0,0,0,3,0,1,4,2,0.183099,1
4,19,0,0.4375,1,1,0,3,1,1,1,2,0.183099,1

In [26]:
X = dataset.drop('BikeBuyer', axis = 1)
y = dataset['BikeBuyer']

In [27]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [28]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [29]:
from sklearn.decomposition import PCA

pca = PCA()
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [30]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(max_depth=2, random_state=0)
classifier.fit(X_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [31]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

cm = confusion_matrix(y_test, y_pred)
print(cm)
res = accuracy_score(y_test, y_pred) 
print("Accuracy", res)

[[1314  547]
 [ 857  979]]
Accuracy 0.6202326210440898